<template name="assistantUnroutedDashboard">
  <div class="container-fluid unrouted-channels-container">
    <div class="channel-filters">
      <input type="checkbox" id="show-spam-checkbox" name="show-spam">
      <label for="show-spam-checkbox">Show Spam</label>
    </div>

    <div class="channel-tabs">
      <ul class="nav nav-pills" role="tablist">
        {{#each channels}}
          <li role="presentation" class="select-channel {{isSelectedClass}}"><a href="#">{{> channelTitle}}</a>
          {{#if isNotReplied}}
            <i class="fa fa-frown-o not-replied-channel"></i>
          {{/if}}
          <i class="fa fa-cog set-channel"></i>
          </li>
        {{/each}}
      </ul>
    </div>
    {{#if getCurrentSelectedChannel}}
      {{> channelMessages getCurrentSelectedChannel}}
      {{> channelReply getCurrentSelectedChannel}}
    {{/if}}
  </div>
</template>
