<template name="assistantTask">
  <div class="task-item col-xs-12 col-sm-12 col-md-12 ">
    <div class="main col-xs-12 col-sm-12 col-md-12">
      <i class="pull-left glyphicon {{ checkedIfTaskCompleted }}"></i>
      <span class="pull-left title">{{ title }}</span>
      <i class="pull-left glyphicon glyphicon-pencil edit"></i>

        <button class="pull-right btn btn-primary {{ isStartOrPause.toLowerCase }}" {{disabledIfTaskCompleted}}>
          <i class="glyphicon glyphicon-time"></i> {{ isStartOrPause }}
        </button>

      <i class="pull-right glyphicon glyphicon-comment comment"></i>
      <i class="pull-right glyphicon glyphicon-link link"></i>
    </div>
    {{> assistantTaskStatusForm }}
    {{> assistantTaskLinkForm }}
    {{> assistantTaskDescriptionForm }}
    {{#if getLatestStatus}}
      {{> assistantTaskSubItem statusToMessage getLatestStatus }}
    {{/if}}
    {{#each referencesToMessage }}
      {{> assistantTaskSubItem this}}
    {{/each}}
    {{> assistantTaskSubItem totalDurationToMessage this.totalDuration }}
  </div>
</template>

<template name="assistantTaskLinkForm">
  <form class="task-link-add" id="{{ genFormKey _id isCurrent }}">
    <div class="form-container sub col-xs-12 col-sm-12 col-md-12 {{isLinkFormShown}}">
      <label for="title">Title: </label><input name="title" class="link-title" type="text" required/>
      <label for="url">URL: </label><input name="url" class="link-url" type="url" required/>
      <button class="submit" action="submit">Post</button>
    </div>
  </form>
</template>

<template name="assistantTaskStatusForm">
  <form class="task-status-change" id="{{ genFormKey _id isCurrent }}">
    <div class="form-container sub col-xs-12 col-sm-12 col-md-12 {{isStatusFormShown}}">
      <input name="message" class="status-message" type="text" required/>
      <button class="submit" action="submit">Post</button>
    </div>
  </form>
</template>

<template name="assistantTaskSubItem">
  <div class="sub {{ type }}-container col-xs-12 col-sm-12 col-md-12">
    <i class="glyphicon glyphicon-{{ type }} type"></i>
    {{> Template.dynamic template=taskSubItemMessage }}
    <i class="glyphicon glyphicon-minus-sign {{ type }}-delete {{ allowDelete type }}" data-task-id="{{ taskId }}"></i>
  </div>
</template>

<template name="assistantTaskDescriptionForm">
  <form class="task-description-edit" id="{{ genFormKey _id isCurrent}}">
    <div class="form-container sub col-xs-12 col-sm-12 col-md-12 {{isDescriptionFormShown}}">
      <textarea placeholder="You can use markdown!" class="description" name="description">{{ description }}</textarea>
      <button class="submit" action="submit">Edit</button>
    </div>
  </form>
  <div class="task-show-description sub col-xs-12 col-sm-12 col-md-12 {{isDescriptionShown}}">
    {{#markdown}}{{ description }}{{/markdown}}
  </div>
</template>
