<template name="assistantCustomersDashboard">
  <div class="container-fluid assistant-dashboard-customer">
    <div class="customers">
      {{#each customers}}
        {{> customerListItem }}
      {{/each }}
    </div>
    <div class="conversation">
      <div class="under-construction">
        Under Construction
      </div>
    </div>
    <div class="helpers">
      <div class="customer-detail">
        {{> customerPreferencePane getCurrentCustomer }}
      </div>
      <div class="tasks">
        {{#each tasks}}
          {{> taskListItem }}
        {{/each}}

      </div>
    </div>
  </div>
</template>