#meteor local build
.meteor/local

#OS X system file
.DS_Store
#ide specific
.tern_project
.idea/
*.iml

#test build file
packages/*
!packages/double-core/
!packages/npm-container/
packages/npm-container/.npm/
!packages/npm-container/index.js
!packages/npm-container/package.js

#project specific
/private/settings.json
/private/settings.local.json

#kadira
/server/kidira.es6.js

#EditorConfig
.editorconfig
