<template name="assistantTasksCreateBillable">
  <div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Billable</h4>
        </div>
        <div class="modal-body billable-creator">
          <div class="statuses">
            <svg class="timeline">
            </svg>
          </div>
          <div class="billables">
            <table class="table-responsive">
              <tr>
                <th>Actions</th>
                <th>Duration</th>
                <th>Current</th>
              </tr>
              {{#each getSteps}}
                <tr>
                  <td>{{text}}</td>
                  <td><input class="duration" data-id="{{_id}}" value="00:00:00"></td>
                  <td>+ <span class=''>{{formatDurationPrecise duration}}</span></td>
                </tr>
              {{/each}}
            </table>
            {{> assistantTasksAddStep }}
            <div><button class="add-step">+Add Action</button></div>
            <button class="bank-time">Bank in {{formatDurationPrecise totalTime }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>