<Template name="assistantTasksDashboard">
  <div class="assistant-dashboard-task">
    <div class="left-sidebar">
      <div class="left-sidebar-header">
        <div class="filters">
          <span class="inprogress {{filterIsInprogress}}">Current({{inProgressTasksCount}})</span>
          <span class="completed {{filterIsCompleted}}">Completed({{completedTasksCount}})</span>
        </div>
      </div>
      <div class="tasks">
        {{#each tasksWithIsCurrent}}
          {{> assistantTasksListItem}}
        {{/each}}
      </div>
    </div>

    {{#if isReady}}
      {{> assistantTasksDetail getCurrentTask}}
      <div class="conversation">
        <div class="right-pane">
          {{> assistantTasksDetailTags taskId=getRCurrentTaskId }}
          <div class="updates">
            <nav>
              <ul>
                <li class="active">Status</li>
              </ul>
            </nav>
            {{> assistantTasksDetailStatusForm getCurrentTask}}
          </div>
        </div>
      </div>
    {{else}}
      Loading...
    {{/if}}
  </div>
</Template>
