<template name="assistantTasksDetailLinkForm">
  <div class="links">
    <h4>Links <i class="fa fa-plus add"></i></h4>
    <div class="sub {{isLinkFormShown}}">
      <form class="add" id="add-link">
        <label for="title">Title: </label><input name="title" class="link-title" type="text" required/>
        <label for="url">URL: </label><input name="url" class="link-url" type="url" required/>
        <button class="submit" action="submit">Post</button>
      </form>
    </div>
    <div class="references">
    {{#each references }}
      <div class="reference">
        <div class="main">
          <div class="title">{{ title }}</div>
          <div class="url"><a href="{{url}}">{{url}}</a></div>
        </div>
        <div class="delete">
          <i class="fa fa-remove"></i>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</template>
