<template name="assistantTasksDetail">
  <div class="header">
    <div class="title-metrics">
      <div class="title-bar">
        <h4>
          <span class ="functions">
            <i class="function play fa fa-play"></i>
            <i class="function mark-completed fa fa-check"></i>
            <i class="function edit fa fa-pencil"></i>
          </span>
          <span class="title">{{ title }}</span>
          <span class="total-time-used">{{formatDurationPrecise totalDuration }}</span>
        </h4>
      </div>
      <div class="metrics">
        <div class="last-updated">Last Updated Time: TODO</div>
        <div class="last-logged-time">Last 7 Days: TODO</div>
      </div>
    </div>
  </div>
  <div class="other-info">
    <div class="owner">Request Owner: {{ ownerName }}</div>
    <div class="responder">D/DD(s) in charge: TODO</div>
    <div class="deadline"><i class="glyphicon glyphicon-calendar"></i></div>
    <div class="time-budget"><i class="glyphicon glyphicon-time"></i></div>
  </div>
  <div class="updates">
    <nav>
      <ul>
        <li class="active">Status</li>
      </ul>
    </nav>
    {{> assistantTasksDetailStatusForm }}
  </div>
  <div class="description">
    {{> assistantTasksDetailDescriptionForm }}
  </div>
  <div class="links">
    {{> assistantTasksDetailLinkForm }}
    {{#each referencesToMessage }}
    {{/each}}
  </div>
</template>

