<template name="assistantTasksDetailOneTimePurchaseForm">
  <div class="one-time-purchase-area">
    <h4>One Time Purchases<i class="fa fa-plus add"></i></h4>
    <div class="sub {{ isOneTimePurchaseFormShown }}">
      <form class="add" id="add-one-time-purchase">
        <fieldset>
          <label for="isOnBehalf">On-Behalf: </label>
          <input name="isOnBehalf" class="isOnBehalf" type="checkbox" />
        </fieldset>
        <fieldset>
          <label for="date">Date: </label>
          <input name="date" class="date" type="date" value="{{formatDate today}}" required/>
        </fieldset>
        <fieldset>
          <label for="title">Title: </label>
          <input name="title" class="title" type="text" required/>
        </fieldset>
        <fieldset>
          <label for="url">Amount: </label>
          <input name="amount" class="amount" type="number" step="0.01" min="0" required/>
        </fieldset>
        <button class="submit" action="submit">Add</button>
      </form>
    </div>
    <div class="one-time-purchases">
      {{#each oneTimePurchases }}
        <div class="one-time-purchase">
          <div class="main">
            <!--<span class="badge {{ isBilledStr }}">{{ isBilledStr }}</span> -->
            <div class="type">{{#if isOnBehalf }}On Behalf{{else}}Sales{{/if}}</div>
            <div class="date">{{formatDate date }}</div>
            <div class="title">{{ title }}</div>
            <div class="amount">HKD {{formatAmount amount}}</div>
          </div>
          <div class="delete {{ hideIfBilled }}">
            <i class="fa fa-remove delete"></i>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>