<template name="assistantTasksDetailStatusForm">
  <div class="status-tab">
    <form id="{{ genFormKey _id isCurrent }}">
      <input name="message" class="message" type="text" required placeholder="Enter a new update..."/>
    </form>
    <div class="statuses">
      {{#each getCombinedStatuses}}
        <div class="date">{{formatDateTime createdAt}}</div>
        <div class="message">{{ message }}</div>
      {{/each}}
    </div>
    <div class="statuses-more">
      <i class="glyphicon glyphicon-chevron-down"></i>
    </div>
  </div>
</template>
