<template name="assistantTasksDetailDescriptionForm">
  <form class="task-description-edit" id="{{ genFormKey _id isCurrent}}">
    <div class="form-container sub col-xs-12 col-sm-12 col-md-12 {{isDescriptionFormShown}}">
      <textarea placeholder="You can use markdown! Shift-enter to submit." class="description" name="description">{{ description }}</textarea>
      <button class="submit" action="submit">Save</button>
    </div>
  </form>
  <div class="task-show-description sub col-xs-12 col-sm-12 col-md-12 {{isDescriptionShown}}">
    {{#markdown}}{{ description }}{{/markdown}}
  </div>
</template>
