<template name="assistantTasksDetailStep">
  <div class="checklist">
    <h4>Checklist <i class="fa fa-plus add"></i></h4>
    <div class="sub {{isStepFormShown}}">
      <form class="add" id="step.{{ _id }}">
        <label for="text">Steps: </label><input name="text" class="text" type="text" required/>
        <button class="submit" action="submit">Add</button>
      </form>
    </div>
    <div class="steps">
      {{#each stepsWithTaskId }}
        <div class="step">
          <i class="fa {{isCompletedCheckbox}} check"></i>
          {{ text }} | {{formatDurationPrecise duration }}
          {{#if not duration }}<i class="fa fa-remove delete"></i>{{/if}}
        </div>
      {{/each}}
    </div>
  </div>
</template>