<template name="assistantTasksDetailStatusForm">
  <div class="status-tab">
    <form class="change-status" id="add-status">
      <input name="message" class="message" type="text" required placeholder="Enter a new update..."/>
    </form>
    <div class="statuses">
      {{#each getFlattenedStatuses}}
        <div class="status">
          <div class="date-author">
            <div class="date">{{formatDate createdAt}}</div>
            <div class="author">{{ getAssistantName }}</div>
          </div>
          <div class="message">{{ message }}</div>
        </div>
      {{/each}}
    </div>
    <!--
    <div class="statuses-more">
      <i class="glyphicon glyphicon-chevron-down"></i>
    </div>
    -->
  </div>
</template>
