<template name="task">
  <section class="row task-list-item">
    <div class="row">
      <div class="name col-md-11 col-sm-11 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-2">
        <i class="checkbox glyphicon {{ checkedIfTaskCompleted }}"></i>
        {{ title }}
      </div>
    </div>
    <div class="attr-container row">
      {{#if getLatestStatus}}
        {{> customerTaskSubItem statusToMessage getLatestStatus }}
      {{/if}}

      {{#each referencesToMessage }}
        {{> customerTaskSubItem this }}
      {{/each}}
      {{> customerTaskSubItem totalDurationToMessage this.getTotalDuration }}
    </div>
  </section>
</template>

<template name="customerTaskSubItem">
  <div class="row">
    <div class="attr col-md-11 col-sm-11 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-2">
      <i class="glyphicon glyphicon-{{ type }} type"></i>
      {{> Template.dynamic template=taskSubItemMessage }}
    </div>
  </div>
</template>
