<Template name="adminDashboard">
  <div id="admin-dashboard">
    <ul class="nav nav-tabs">
      <li role="presentation" class="customers-tab {{#if isCustomersTabSelected}} active{{/if}}"><a href="#">Customers</a></li>
      <li role="presentation" class="assistants-tab {{#if isAssistantsTabSelected}} active{{/if}}"><a href="#">Assistants</a></li>
      <li role="presentation" class="business-tab {{#if isBusinessTabSelected}} active{{/if}}"><a href="#">Business</a></li>
      <li role="presentation" class="services-tab {{#if isServicesTabSelected}} active{{/if}}"><a href="#">Services Integration</a></li>
    </ul>
    {{> Template.dynamic template=contentTemplateName}}
  </div>
</Template>
