<!--suppress ALL -->

<Template name="layout">
  {{> notifications}}
  <div class="status {{ connectionStatus }}">{{connectionStatus}}</div>
  <div class="double-navbar navbar navbar-default {{toggleMargin}}" role="navigation">
    <div class="navbar-collapse collapse">
      <ul class="dashboard-tabs nav navbar-nav">
        <li class="{{isCustomerSelected}} {{ isShownWhenLogin }}">
          <a href="{{ urlFor route='assistant.customers.unselected' }}">Customers</a>
        </li>
        <li class="{{isRequestSelected}} {{ isShownWhenLogin }}">
          <a href="{{ urlFor route='assistant.tasks' }}">Requests</a>
        </li>
        <li class="{{isIncomingSelected}} {{ isShownWhenLogin }}">
          <a href="{{ urlFor route='assistant.unrouted' }}">Incoming</a>
        </li>
        <li class="{{isSummarySelected}} {{ isShownWhenLogin }}">
          <a href="{{ urlFor route='assistant.tasksSummary' }}">Summary</a>
        </li>
        <li class="{{isAdminSelected}} {{ isShownWhenAdminLogin }}">
          <a href="{{ urlFor route='admin' }}">Admin</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right login">
        {{> loginButtons }} <!-- here -->
      </ul>
    </div>
  </div>

  <div class="dashboard">
    {{> yield}}
  </div>
</Template>
