<!--suppress ALL -->

<Template name="layout">
  {{> notifications}}
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav {{ isShownWhenLogin }}">
        <li><a href="{{ urlFor route='assistant.customers' }}">Customers</a></li>
        <li><a href="{{ urlFor route='assistant.tasks' }}">Tasks</a></li>
        <li><a href="">Unrouted</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {{> loginButtons }} <!-- here -->
      </ul>
    </div>
  </div>
  {{> yield}}
</Template>
