<template name="assistantInvoiceActualFormOneTimePurchase">
  <tr>
    <td><input class="title" type='text' value='{{ title }}' disabled='{{#if isNotEditing }}true{{/if}}'></td>
    <td><input class="amount" type='number' value='{{ amount }}' disabled='{{#if isNotEditing }}true{{/if}}'></td>
    <td>
      <span class="save {{#if isNotEditing }}hide{{/if}}">Save</span>
      <i class="fa fa-spin fa-spinner loading hide"></i>
      <i class="fa fa-pencil edit {{#if isEditing }}hide{{/if}}"></i>
      <i class="fa fa-trash delete {{#if isEditing }}hide{{/if}}"></i>
    </td>
  </tr>
</template>