<template name="assistantsInvoiceActualForm">
  <div class="invoice-printout">
    <header>
      Double Usage Report
    </header>
    <div class="summaries">
      <div class="service-period">
        <div class="line">
          <div class="key">Service Period: </div><div class="value"></div>
        </div>
        <div class="line">
          <div class="key">To: </div><div class="value"></div>
        </div>
      </div>
      <div class="calculations">
        <div class="minute">
          <div class="line">
            <div class="key">Minutes used this period: </div>
            <div class="value"></div>
          </div>
          <div class="line">
            <div class="key">Rebate in minutes: </div>
            <div class="value"></div>
          </div>
          <div class="line">
            <div class="key">Minutes payable: </div>
            <div class="value"></div>
          </div>
        </div>
        <div class="money">
          <div class="line">
            <div class="key">Minute rate (HKD):</div>
            <div class="value"></div>
          </div>
          <div class="line">
            <div class="key">Effective rate with TODO discount</div>
            <div class="value"></div>
          </div>
          <div class="line">
            <div class="key">Payment debited (HKD)</div>
            <div class="value"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="timeBasedItems">
      <table class="table table-responsive time-based-items">
        <tr>
          <th>Date</th>
          <th>Requests</th>
          <th>Updates</th>
          <th>Duration</th>
          <th></th>
        </tr>
        {{#each timeBasedItems}}
          <tr>
            <td>{{ date }}</td>
            <td>{{ title }}</td>
            <td>{{ updates }}</td>
            <td>{{ formatDurationPrecise totalDuration }}</td>
            <td><i class="fa fa-pencil {{showIfEditable}}"></i><i class="fa fa-remove {{showIfEditable}}"></i></td>
          </tr>
        {{/each}}
      </table>
      <div class="add-time-based-item add {{showIfEditable}}">+ Entry</div>
      <table class="table table-responsive one-time-purchases">
          <tr>
            <th>Item</th>
            <th>Amount(HKD)</th>
          </tr>
          {{#each oneTimePurchases }}
            <tr>
              <td>{{ item }}</td>
              <td>{{ amount }}</td>
            </tr>
          {{/each}}
      </table>
      <div class="add-one-time-purchase add">+ Entry</div>
    </div>

    <footer>
      <p>{{ customerFirstName }},</p>
      <p>Thank you for your business.
        Feel free to contact us if you have any questions about this report or our service.</p>
      <p>
        Cary &amp; Thomas<br>
        founders@askdouble.com
      </p>
    </footer>
  </div>
</template>