<template name="assistantInvoicePreview">
  <div class="header">
    <span>Invoice</span>
    <div class="buttons">
      {{#if isDraft }}
      <button class="charge">Charge</button>
      {{/if}}
      <button class="generate">Preview</button>
      {{#if isDraft }}
      <button class="delete btn-danger">Delete</button>
      {{/if }}
    </div>
  </div>
  <div class="confirm-charge hide alert alert-warning" role="alert">
    <h4>Are you sure we are going to charge HKD{{ debit }}?</h4>
    <div class="buttons">
      <button class="confirm btn btn-danger">Yes</button>
      <button class="cancel btn btn-default">No</button>
    </div>
  </div>
  <div class="content">
    {{> assistantsInvoiceActualForm }}
  </div>
</template>