<Template name="channelTitle">
  {{> Template.dynamic template=templateName}}
</Template>

<Template name="channelTitleSlack">
  <i class="fa fa-slack"></i> {{extra.team.name}} - {{extra.channel.name}}
</Template>

<Template name="channelMessages">
  {{#each messages}}
    {{> channelSlackMessage}}
  {{/each}}
</Template>

<Template name="channelReply">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="message..."/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Send</button>
    </span>
  </div>
</Template>

<Template name="channelSlackMessage">
  <div class="message">
    <div class="header">
      <strong class="primary-font">{{extra.userName}}</strong>
      <small class="pull-right text-muted">{{formatTS extra.ts}}</small>
    </div>
    <div class="content">
      {{content}}
    </div>
  </div>
</Template>
