<Template name="channelTitle">
  {{> Template.dynamic template=templateName}}
</Template>

<Template name="channelTitleSlack">
  <i class="fa fa-slack"></i> {{extra.team.name}} - {{extra.channel.name}}
</Template>

<Template name="channelMessages">
  <div class="selected-channel-messages">
    <div class="load-more"><i class="loading-indicator fa"></i><br/>Load More</div>
      {{#each messages}}
        {{> channelMessage}}
      {{/each}}
  </div>
</Template>

<Template name="channelMessage">
  <div class="message {{inOutClass}}">
    <div class="header">
      <strong class="primary-font">{{userName}}</strong>
      <small class="text-muted">{{formatTimestamp timestamp}}</small>
    </div>
    <div class="content">
      {{> channelSlackMessage}}
      {{#if isPending}}
        <div class="pending">
          <span class="animated flash infinite">Delivering...</span>
          <a href="#" class="cancel">Cancel</a>
        </div>
      {{/if}}
    </div>
  </div>
</Template>

<Template name="channelReply">
  <div class="selected-channel-reply">
    <form id="send-message-form">
      <div class="input-group">
        <input id="channelId" type="hidden" value="{{_id}}"/>

        <div class="dropup clearfix">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuEmoji" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{#emojione}}:smile:{{/emojione}}
          </button>
          <div class="emoji-dropdown dropdown-menu" aria-labelledby="dropdownMenuEmoji">
            <ul class="emoji-categories nav nav-tabs">
              {{#each emojiListCategories}}
              <li role="presentation" class="emoji-category {{#if selected}}active{{/if}}"><a href="#">{{#emojione}}:{{example}}:{{/emojione}}</a></li>
              {{/each}}
            </ul>
            <ul class="emoji-items">
              {{#each emojiItems}}
                <li class="emoji-item">{{#emojione}}:{{this}}:{{/emojione}}</li>
              {{/each}}
            </ul>
          </div>
        </div>
        <textarea id="content" class="form-control autogrow" placeholder="Shift+Enter to start a newline" rows="1"></textarea>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">Send</button>
        </span>
      </div>
    </form>
  </div>
</Template>

<Template name="channelSlackMessage">
  {{{formatMessage content}}}
</Template>
