<template name="customerPaymentLink">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add payment method link</h4>
        </div>
        <div class="modal-body">
          <input id="customer-payment-link" type="text" value="{{ getCustomerPaymentLink }}" autofocus/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>