<Template name="customerEditForm">
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Customer</h4>
        </div>
        <div class="modal-body">
          <form id="customer-form">
            <div class="form-group">
              <label for="firstname">First Name</label>
              <input type="firstname" class="form-control" id="firstname" placeholder="First Name" value="{{profile.firstname}}"/>
            </div>
            <div class="form-group">
              <label for="lastname">Last Name</label>
              <input type="lastname" class="form-control" id="lastname" placeholder="Last Name" value="{{profile.lastname}}">
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email" placeholder="Email Address" value="{{getEmail}}" {{disabledIfEdit}}>
            </div>
            <div class="form-group">
              <label for="hourlyRate">Minute Rate</label>
              <input
                  name='hourlyRate'
                  type="number"
                  class="form-control"
                  id="hourlyRate"
                  value="{{ profile.hourlyRate }}"
                  step="0.01"
                  min="0.01"
                  >
            </div>
            <div class="form-group">
              <label for="creditMs">Credit Left</label>
              <input name='creditMs' type="text" class="form-control" id="creditMs" value="{{formatDurationToMinute creditMs }} minute(s)">
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button id='dismiss-customer-edit' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</Template>
