@import "variables";

#admin-dashboard {
  .online-status {
    &.online {
      color: green;
    }
    &.offline {
      color: red;
    }
  }

  #business-configs {
    .remove-holiday {
      cursor: pointer;
    }
    #response-message {
      width: 600px;
      height: 100px;
      background: $double-grey2;
      &.enabled {
        background: white;
      }
    }
  }
}
