@import 'variables';

.assistant-dashboard {

  color: $pay-black;

  .glyphicon {
    color : $pay-grey;
  }

  .customer-container {
    .customer-item-header {
      margin: 40px 0px 25px 0px;
      .name {
        font-size: 1.333em;
        font-weight: 700;
      }
      .new-task-button {
        color: $pay-light-blue;
        margin-left:30px;
        .glyphicon {
          color: $pay-light-blue;
          margin-right: 20px;
        }
      }
    }
  }
}

.task-item {
  .main {
    font-size: 1.333em;
  }

  input[type="checkbox"] {
    margin: 12px 0px;
    height: 40px;
    width: 40px;
  }
  .edit,.comment,.link {
    line-height: 64px;
    cursor: hand;
  }
  .comment,.link {
    margin-right : 32px;
    color: $pay-light-blue;
  }
  .title {
    line-height: 64px;
    padding: 0px 32px;
  }
  button.btn {
    border-color: $pay-light-blue;
    background-color: $pay-light-blue;
    color: white;
    font-size: 1em;
    line-height: 54px;
    width: 160px;
    height: 64px;
    padding:0px;
    .glyphicon {
      color: white;
    }
    &.pause {
      border-color: $pay-light-blue;
      background-color: white;
      color: $pay-light-blue;
      .glyphicon {
        color: $pay-light-blue;
      }
    }
  }
  .sub {
    padding-left : 72px;
  }
  .task-status-change {
    .form-container {
      opacity: 1;
      height: 39px;
      transition: opacity 0.3s cubic-bezier(1, 0, 1, 0), height 0.2s linear;

      &.not-shown {
        opacity: 0;
        height: 0px;
        transition: opacity 0.3s cubic-bezier(0, 1, 0, 1), height 0.2s linear 0.1s;
      }
      .status-message {
        width: 50%;
        max-width: 500px;
        border: none;
        border-bottom: 1px solid $pay-black;
      }
      .submit {
        border: none;
        background-color: transparent;
        color: $pay-light-blue;
      }
    }
  }
}

.current-task {

  color: $pay-black;

  &.modal {
    top: 200px;
  }
  .modal-dialog {
    width : 100%;
    .modal-content {
      border : 0;
      border-radius: 0px;

      .timer {
        font-size: 3.157em;
      }

      .customer-name {
        font-size:2.369em;
      }
    }
  }
}