.channel-tabs {
  ul {
    li {
      margin-right: 10px;
      a {
        border: solid 1px #337ab7;
      }
    }
  }
  .remove-channel, .set-channel {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: -10px;
    color: white;
    font-size: x-large;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .not-replied-channel {
    position: absolute;
    left: 50%;
    top: -10px;
    color: red;
    font-size: x-large;
  }
}
.selected-channel-messages {
  .message {
    padding: 10px 2px;
    border-bottom: 1px dotted #B3A9A9;

    .content {
      margin: 0px;
      color: #777777;
    }

    &.outing,&.outing_delivered {
      background: #eee;
    }
  }
}
