@import "variables";

.channel-tabs {
  padding: 15px 15px 0px 15px;
  .customer-metrics {
    .name {
      font-size: 1.414em;
      font-weight: 700;
    }
    padding-bottom: 10px;
    border-bottom: 1px solid $double-grey2;
    margin-bottom: 10px;
  }
  ul {
    li {
      margin-right: 10px;
      &.active {
        a {
          background: $double-dark-blue;
          color: $double-white;
        }
      }
      a {
        padding:5px;
        display:inline-block;
        background: $double-grey;
        color: $double-grey3;
      }
    }
  }
  .remove-channel, .set-channel {
    display:inline-block;
    cursor: pointer;
  }
  .not-replied-channel {
    color: $double-red;
  }
}
.selected-channel-messages {
  .message {
    padding: 10px 2px;
    border-bottom: 1px dotted #B3A9A9;

    .content {
      margin: 0px;
      color: #777777;
    }

    &.outing,&.outing_delivered {
      background: #eee;
    }
  }
}
