@import "variables";

.emoji-dropdown {
  width: 300px;
  height: 200px;
  overflow-y: scroll;
  padding-top: 0px;
  ul.emoji-categories {
    li.emoji-category {
      a {
        cursor: pointer;
        padding: 5px;
      }
    }
  }
  ul.emoji-items {
    padding-left: 5px;
    padding-top: 10px;
    li.emoji-item {
      cursor: pointer;
      display: inline;
      list-style-type: none;
      img {
        margin: 4px;
      }
    }
  }
}

.message {
  padding-bottom: 15px;

  .task-tag {
    margin-right: 10px;
    .title {
      cursor: pointer;
      font-weight: normal;
    }
    .separator {
      margin-left: 3px;
      margin-right: 3px;
    }
    .remove-tag {
      cursor: pointer;
      &:hover {
        color: #818181;
      }
    }
  }

  &.in {
    .content {
      background-color: $double-green;
    }
  }
  &.out {
    .content {
      background-color: $double-grey;
    }
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .content {
    margin: 0px;
    padding:5px 20px;
    color: $double-grey3;

    .pending {
      border: dashed 1px;
      width: 150px;
      padding-left: 10px;
    }

    img.emoji {
      width: 20px;
    }
  }

  &.outing, &.outing_delivered {
    .content {
      padding:10px 20px;
      background-color: $double-grey;
    }
  }
}

.selected-channel-messages {
  .load-more {
    color:$double-white;
    background: $double-grey3;
    width:100%;
    text-align: center;
    cursor: pointer;
  }
  padding: 0px 25px 0px 25px;
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  .selection {
    cursor: pointer;
    opacity: 0.1;
    font-size: 1.444em;
    margin-top: 20px;
    padding: 0px;

    &:hover {
      opacity: 1.0;
    }

    &.selected {
      opacity: 1.0;
    }
  }
}

.selected-channel-reply {
  background: $double-grey4;
  padding:10px 25px;

  #send-message-form {
    div.dropup {
      position: absolute;
      right: 60px;
      z-index: 10;
      button {
        border-color: transparent;
        background-color: transparent;
        padding: 8px 0px;
      }
    }
    textarea {
      padding-right: 30px;
    }
    button.submit {
      width: 60px;
    }
  }
}
