@import '{double-core}/client/variables';

.main {

  color: $pay-black;

  .blur {
    filter:blur(10px);
  }
  padding: 0px;
  .row {
    margin-left:0px;
    margin-right: 0px;
  }
  .customer-header {
    padding:15px 15px 25px 15px;
    letter-spacing: 2px;
    margin-bottom: 0px;

    div {
      line-height: 1.33;
    }

    .settings {
      background: url('/settings.png');
      background-size: contain;
      margin-top: 5px;
      width:35px;
      height:35px;
    }

    .call-me {
      background-size: contain;
      margin-top: 5px;
      width:35px;
      height:35px;
      &.off {
        background: url('/call_off.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.on {
        background: url('/call_on.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:active {
        background: url('/call_on.png');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    .center {
      font-size: 1.333em;
      position: fixed;
      top:0%;
      left: 50%;
      transform: translate(-50%, 0%);
    }

    .add-todo {
      margin-left: 30px;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 5px;
      width:35px;
      height:35px;
      background: url('/new_task.png');
    }

    border-bottom: 1px $pay-grey solid;
  }

  section {
    margin-bottom: 20px;
  }

  .tabs {
    font-size: 0.667em;
    text-transform: uppercase;
    .active span {
      border-bottom: 5px solid $pay-light-blue;
    }

  }
  .settings-sidebar {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    left : 0;
    right: 0;
    bottom : 0;
    z-index: 2;
    outline : 0px none;
    background-color: rgba(0,0,0,0.5);
    color: white;

    .portrait {
      width: 400px;
      height: 400px;
    }

    .top-button-container {
      margin-top: 30px;
      margin-bottom : 60px;
    }

    .close {
      font-size: 2.369em;
      padding-right: 30px;
      color: white;
      opacity: 1;
    }

    .double-name {
      font-size: 1.777em;
    }

    .title {
      font-size: 1.333em;
    }

    .word-rep {
      font-size: 1.333em;
    }

    .bar-rep {
      margin: 0 auto 80px auto;
      height:10px;
      width:156px;
      border: 1px solid white;
      .bar-fill {
        background-color: white;
        height: 100%;
      }
    }

    .promise {
      margin-bottom: 20px;
      color: #fff;
      opacity: 0.5;
      padding:0px 15px;
    }

    .action {
      padding:15px 30px;
      background-color: rgba(255,255,255,0.1);
      margin-bottom: 40px;
      font-size: 1.333em;
      .glyphicon {
        padding-right: 30px
      }
    }
  }

  .alert-container {
    p.animated {
      padding:0px;
      margin:0px;
      animation-duration: 3s;
    }
    margin-bottom: 20px;
    &.show {
      height: auto;
    }
    &.invisible {
      height: 0px;
      overflow: hidden;
    }
    .call-alert {
      line-height: 1.33;
      background-color: $pay-light-blue;
      color: white;
      padding: 5px 0px;
    }
  }

  .task-list-item {
    input[type="checkbox"] {
      width:33px;
      height:33px;
    }
    .checkbox {
      display: inline-block;
    }

    .name {
      font-size: 1.333em;
      font-weight: 300;
      line-height: 1.818em;
      padding:0px 5px;
    }

    .attr-container {
      margin-bottom: 20px;
      color: rgba(35,31,32,0.3);
      .attr {
        padding:0px 80px;
      }
    }
  }
}
