@import "variables";

.mobile {
  font-size: 40px;
}
.dashboard {
  a {
    color: $double-grey3;
    text-decoration: underline;
  }
}

body>.status {
  z-index: 1;
  top: 0;
  left: 0;
  color: $double-grey3;
  text-align: center;
  width: 100%;
  background: transparentize($double-green, 0.1);
  &.waiting, &.connecting {
    background: transparentize($double-red2, 0.1);
    color: $double-white;
    transition: height 0.5s ease 0.5s;
    height: 20px;
  }
  &.failed, &.offline {
    background: transparentize($double-red, 0.3);
    color: $double-white;
    transition: height 0.5s ease 0.5s;
    height: 20px;
  }
  &.connected {
    transition: height 0.5s ease 0.5s;
    height: 0px;
  }
}

body .double-navbar {
  &.status-bar-shown {
    transition: margin-top 0.5s ease 0.5s;
    margin-top: -20px;
    z-index: -1;
  }
  transition: margin-top 0.5s ease 0.5s;
  background: $double-dark-blue;
  color: $double-white;
  margin-bottom:0;
  border: 0;
  border-radius: 0px;
  .dashboard-tabs {
    > li {
      padding: 15px 5px 5px 5px;
      margin: 0px 10px 8px 10px;
      > a {
        padding: 0px;
        margin: 0px;
        color: $double-white-half-transparent;
        &:hover {
          color: $double-white;
          border-bottom: 3px solid $double-white;
        }
      }
    }
    > li.selected > a {
      color: $double-white;
      border-bottom: 3px solid $double-white;
    }
  }
  .login {
    > li > a {
      color: $double-white-half-transparent;
      padding: 15px 5px 5px 5px;
      margin: 0px 10px 8px 10px;
      &:hover {
        color: $double-white;
      }
    }
    > li.selected > a {
      color: $double-white;
    }
  }
}

#customer-payment-link {
  width : 100%;
}