<template name="assistantCustomersDashboard">
  <div class="assistant-dashboard-customer">
    <div class="customers">
      {{#each getSortedCustomers}}
        {{> assistantCustomersListItem }}
      {{/each }}
    </div>
    <div class="conversation">
      {{> assistantCustomerConversation getCurrentCustomer}}
    </div>
    <div class="helpers">
      <div class="customer-detail">
        {{> assistantCustomerPreferencePane getCurrentCustomer }}
      </div>
      <div class="task-related">
        <div class="tasks">
          <h4>Current Requests</h4>
          {{#each getTasksOfSelectedCustomer}}
            {{> assistantCustomerTaskListItem }}
          {{/each}}
        </div>
        <div class="new-task-button">
          <i class="glyphicon glyphicon-plus-sign"></i>
        </div>
      </div>
    </div>
  </div>
</template>
