<template name="assistantCustomersDashboard">
  <div class="assistant-dashboard-customer">
    <div class="customers">
      {{#each getSortedCustomers}}
        {{> assistantCustomersListItem }}
      {{/each }}
    </div>
    {{#if currentCustomer }}
    <div class="conversation">
      {{> assistantCustomerConversation conversationData}}
    </div>
    <div class="helpers">
      <div class="customer-detail">
        {{> assistantCustomerPreferencePane rCurrentCustomer=getRCurrentCustomer }}
      </div>
      <div class="task-related">
        <div class="tasks">
          <h4>Requests<i class="fa fa-plus new-task-button"></i></h4>
          <div class="is-completed-checkbox">
              <a href="{{ urlFor
                    route='assistant.customers.selected'
                    data=currentCustomer
                    query=getCompletedTaskToggleQuery }}">
                  <i class="fa {{ isCompletedChecked }}"></i>
              </a>
              <span>Show Completed</span>
          </div>
          {{#each getTasksOfSelectedCustomer}}
            {{> assistantCustomerTaskListItem }}
          {{/each}}
        </div>
      </div>
    </div>
    {{else}}
      <div class="no-customer">Please select a customer</div>
    {{/if}}
  </div>
</template>
