<template name="assistantCustomersDashboard">
  <div class="container-fluid assistant-dashboard-customer">
    <div class="customers">
      {{#each customers}}
        {{> assistantCustomersListItem }}
      {{/each }}
    </div>
    <div class="conversation">
      <div class="container-fluid channel-tabs">
        <ul class="nav nav-pills" role="tablist">
          {{#each getCurrentCustomerChannels}}
            <li role="presentation" class="select-channel {{isSelectedClass}}"><a href="#">{{> channelTitle}}</a>
            <i class="fa fa-close remove-channel"></i>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="container-fluid">
        {{#if getCurrentCustomerSelectedChannel}}
          {{> channelMessages getCurrentCustomerSelectedChannel}}
        {{/if}}
      </div>
    </div>
    <div class="helpers">
      <div class="customer-detail">
        {{> assistantCustomerPreferencePane getCurrentCustomer }}
      </div>
      <div class="task-related">
        <div class="tasks">
          {{#each getTasksOfSelectedCustomer}}
            {{> assistantCustomerTaskListItem }}
          {{/each}}
        </div>
        <div class="new-task-button">
          <i class="glyphicon glyphicon-plus-sign"></i>
        </div>
      </div>
    </div>
  </div>
</template>
