<template name="invoice">
  <div class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{ customer.displayName }}</h4>
        </div>
        <div class="modal-body ">
          <div class="invoice">
            <div class="header">
              <div>Requests</div>
              <div>Date</div>
              <div>Duration</div>
              <div>Updates</div>
            </div>
              {{#each getTasksWithQuery}}
                {{> taskInvoiceItem }}
              {{/each}}
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</template>

<template name="taskInvoiceItem">
  <div class="item">
    <div class="title">{{ title }}</div>
    <div class="timesheets">
      {{#each getTimeSheets }}
        {{> taskTimesheetInvoiceItem }}
      {{else}}
        <div></div>
      {{/each}}
    </div>
  </div>
</template>

<template name="taskTimesheetInvoiceItem">
  <div class="timesheet">
    <div class="date">{{ formatDate startedAt }}</div>
    <div class="duration">{{ formatDurationPrecise duration }}</div>
    <div class="statuses">
      {{#each statuses}}
        {{> taskTimesheetStatusInvoiceItem }}
      {{/each}}
    </div>
  </div>
</template>

<template name="taskTimesheetStatusInvoiceItem">
  <div class="message">{{ message }}</div>
</template>
