<template name="assistantCustomerPreferencePane">
  <div class="functions">
    <div class="btn btn-default export">Generate Invoice</div>
    <div class="btn btn-default profile">Settings</div>
  </div>
  <h4>Preferences</h4>
  <form id="add-preference" class="add-preference">
    <input name="message" class="preference-message" type="text" required placeholder="Preferences..."/>
    <button class="submit" action="submit"><i class="glyphicon glyphicon-plus"></i></button>
  </form>
  <div class="preferences">
    {{#each getPreferences this }}
      <div class="preference">
        {{message}}
        <i class="remove glyphicon glyphicon-remove" data-id="{{_id}}"></i>
      </div>
    {{/each}}
  </div>
</template>