@import "../variables";

.assistant-dashboard-customer {
  height: calc(100vh - 75px);
  display: flex;
  >* {
    border-right: 1px solid $pay-grey;
    height: 100%;
    &:last-child {
      border-right: none;
    }
  }

  .customers {
    flex : 2;
    .customer {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;

      cursor: pointer;
      &.selected {
        background-color: lighten($pay-light-blue, 30%);
        border-radius: 5px;
      }
      &.not-replied {
        color: red;
      }
    }
  }

  .conversation {
    flex : 6;
    display: flex;
    flex-direction: column;
    .selected-channel-messages {
      width: 100%;
      flex: 1;
      overflow-y: scroll;
    }
  }

  .helpers {
    flex : 3;
    display : flex;
    flex-direction: column;
    .customer-detail {
      min-height: 50%;
      flex: 1;
      border-bottom: 1px solid $pay-grey;
    }
    .task-related {
      min-height: 50%;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .tasks {
        width: 100%;
        overflow-y: scroll;
        flex : 1;
        .task {
          padding: 20px 10px;
        }
      }
      .new-task-button {
        width: 100%;
        cursor:pointer;
        font-size: 1.998em;
        align-self: center;
        text-align: center;

      }
    }
  }
}

.invoice {
  width : 100%;
  .header {
    font-weight: 700;
    display : flex;
    flex-direction: row;
    align-content: stretch;
    >div {
      flex : 0 0 20%;
    }
    >:last-child {
      flex : 0 0 40%;
    }
  }
  .item {
    border-top: 1px solid $pay-black;
    &:nth-child(odd) {
      background: lighten($pay-grey, 30%);
    }
    display : flex;
    flex-direction: row;
    align-content: stretch;
    .title {
      flex : 0 0 20%;
    }
    .timesheets {
      display : flex;
      flex-direction: column;
      flex : 0 0 80%;

      .timesheet {
        display: flex;
        flex-direction: row;
        .date {
          flex : 0 0 25%;
        }
        .duration {
          flex : 0 0 25%;
        }
        .statuses {
          flex: 0 0 50%;
          display : flex;
          flex-direction: column;
          .message {
          }
        }
      }
    }
  }
}
