@import "../variables";

.assistant-dashboard-customer {
  height: calc(100vh - 53px);
  display: flex;
  >* {
    height: 100%;
  }

  .customers {
    flex : 0 0 23.75%;
    background: $double-grey;
    overflow-y: scroll;
    .customer-list-item {
      text-decoration: none;
      color: $double-black;
      .customer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px;
        border-bottom: 1px solid $double-grey2;

        cursor: pointer;
        &.selected {
          border-left: 3px solid $double-red;
          background: $double-white;
        }
        &.not-replied {
          color: red;
        }
        .status {
          font-size: 10px;
          color: $double-red2;
          &.online {
            color: $double-green2;
          }
        }
        .detail {
          font-style: italic;
          font-size: 0.88em;
        }
      }
    }
  }

  .conversation {
    flex : 0 0 52.5%;
    display: flex;
    flex-direction: column;
    .has-payment-method {
      color: $double-grey3;
    }
    .channel-tabs {
      padding: 25px 25px 10px 25px;
      .customer-metrics {
        display : flex;
        justify-content: space-between;
        .functions {
          align-self: flex-end;
          display : flex;
          justify-content: center;
          align-items: flex-end;
          padding:0px 15px 0px 15px;
          .btn {
            border-radius: 0px;
            border: 0;
            background: $double-dark-blue;
            color: $double-white;
            margin: 0px 15px;
          }
          .dropdown {
            .btn.settings {
              background: transparent;
              padding: 0;
              padding-bottom: 3px;
              color: $double-black;
              margin: 0px;
              font-size: 1.44em;
            }
            li {
              padding: 5px 10px 5px 10px;
              cursor: pointer;
            }
          }
        }
        .name {
          font-size: 1.414em;
          font-weight: 700;
        }
        padding-bottom: 10px;
        border-bottom: 1px solid $double-grey2;
        margin-bottom: 10px;
      }
      ul {
        li.select-channel {
          margin-right: 10px;
          &.active {
            a {
              background: $double-dark-blue;
              color: $double-white;
              text-decoration: underline;
            }
          }
          a {
            text-decoration: none;
            cursor: pointer;
            padding:5px;
            display:inline-block;
            background: $double-grey;
            color: $double-grey3;
          }
        }
      }
      .remove-channel, .set-channel {
        display:inline-block;
        cursor: pointer;
      }
      .not-replied-channel {
        color: $double-red;
      }
    }
    .selection-control {
      text-align: right;
      padding: 0px 15px 0px 0px;
      .btn {
        padding: 3px 10px;
        border-radius: 0px;
        &.tag-selection {
          background: $double-black;
          color: white;
        }
        &.cancel-selection {
          background: $double-grey;
          color: $double-grey3;
        }
      }
    }
    .selected-channel-messages {
      .load-more {
        color:$double-white;
        background: $double-grey3;
        width:100%;
        text-align: center;
        cursor: pointer;
      }
      padding: 0px 25px 0px 25px;
      width: 100%;
      flex: 1;
      overflow-y: scroll;
      .selection {
        cursor: pointer;
        opacity: 0.1;
        font-size: 30px;
        margin-top: 20px;
        padding: 0px;

        &:hover {
          opacity: 1.0;
        }

        &.selected {
          opacity: 1.0;
        }
      }
    }
    .selected-channel-reply {
      background: $double-grey4;
      padding:10px 25px;

      #send-message-form {
        div.dropup {
          position: absolute;
          right: 60px;
          z-index: 10;
          button {
            border-color: transparent;
            background-color: transparent;
            padding: 8px 0px;
          }
        }
        textarea {
          padding-right: 30px;
        }
        button.submit {
          width: 60px;
        }
      }
    }
  }

  .helpers {
    flex : 0 0 23.75%;
    background: $double-grey;
    color: $double-grey3;
    overflow-y: scroll;
    h4 {
      color: $double-black;
    }
    .customer-detail {
      diplay: flex;
      flex-direction: column;
      margin: 15px;
      border-bottom: 1px solid $double-grey3;
      .add-preference {
        display: flex;
        margin-bottom: 15px;
        .preference-message {
          flex:1;
          margin-right: 15px;
        }
        .submit {
          border: 0;
          padding: 0;
          width: 40px;
          height: 40px;
          color: $double-white;
          background-color: $double-grey2;
        }
      }
      .preferences {
        flex:1;
        .preference {
          padding-bottom: 5px;
          .remove {
            cursor: pointer;
          }
        }
      }
    }
    .task-related {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 15px;
      .tasks {
        width: 100%;
        overflow-y: scroll;
        flex : 1;
        .task {
          padding-bottom : 5px;
          .color-label {
            display: inline-block;
            width: 5px;
          }
        }
      }
      .new-task-button {
        width: 100%;
        cursor:pointer;
        font-size: 1.998em;
        align-self: center;
        text-align: center;

      }
    }
  }
}

