@import '../variables';

.assistant-dashboard-invoices {
  height: calc(100vh - 53px);
  display: flex;
  > * {
    height: 100%;
  }

  .invoices-left-sidebar {
    flex : 0 0 23.75%;
    display: flex;
    flex-direction: column;
    background: $double-grey;
    overflow-y: scroll;
    .left-sidebar-header {
      padding: 8px 15px;
      background: $double-grey2;
      .customer-name {
        font-size: 1.441em;
      }
    }
    .invoices {
      flex : 1;
      overflow-y: scroll;
      .invoice {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px;
        border-bottom: 1px solid $double-grey2;
        cursor: pointer;
        &.selected {
          border-left: 3px solid $double-red;
          background: $double-white;
        }
        .status.badge {
          font-style: italic;
          font-size: 0.88em;
          &.issued {
            background : $double-green2;
          }
          &.draft {
            background : $double-light-blue2;
          }
        }
      }
    }

    .add-invoice {
      background: $double-dark-blue;
      color: $double-white;
      text-align: center;
      padding:10px 0px;
    }
  }

  .invoice-content {
    display : flex;
    flex-direction: column;
    width: 100%;
    .header {
      margin : 0 auto;
      display : flex;
      align-content: center;
      justify-content: space-between;
      padding: 15px 0;
      width : 80%;
      span {
        font-size: 1.44em;
      }
      button {
        border : 0;
        background : $double-dark-blue;
        padding : 5px 10px;
        color: $double-white;
        &.btn-danger {
          background: $double-red;
        }
      }
    }
    .content {
      flex: 1;
      width : 80%;
      margin : 0 auto;
      overflow-y : scroll;
      border: 1px solid $double-grey3;
    }
  }
}

.invoice-printout {
  margin: 15px;
  .key {
    text-align: right;
  }
  .line {
    display: flex;
    flex-direction: row;
  }
  header {
    background: $double-grey2;
    color: $double-dark-blue;
    font-size: 1.889em;
    text-align: center;
    padding: 30px 0px;
    margin: 15px 0px;
  }

  .summaries {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .service-period {
      .key {
        width: 100px;
      }
      .value {
        margin-left: 1em;
      }
    }
    .calculations {
      .key {
        width: 160px;
      }
      .value {
        width: 85px;
        text-align: right;
        margin-left: 2em;
        .fa {
          margin-left: 5px;
        }
      }
      .minute {
        margin-bottom: 10px;
      }
      .money {
        margin-bottom: 10px;
      }
      .credit, .effective-rate {
        width: 100%;
        text-align: right;
        padding: 0px;
        border: 1px solid $double-grey2;
        .not-editable {
          border: 0;
        }
      }
    }
    margin-bottom: 15px;
  }


  table {
    margin-bottom: 0px;
  }

  .time-based-items, .one-time-purchases {
    tr {
      th {
        background: $double-grey2;
        border-bottom: 1px solid black;
      }
    }
    tr {
      &:nth-child(2n+1) {
        background : $double-grey;
      }
      th, td {
        padding: 5px 10px;
      }
      td {
        input {
          width: 100%;
          &[disabled] {
            border: 0px;
            background: transparent;
          }
        }
        &:last-child {
          display: flex;
          justify-content: space-around;
          align-content: center;
          i {
            cursor: pointer;
          }
          .save {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .time-based-items {
    tr {
      th, td {
        textarea {
          width: 100%;
          min-height: 100px;
        }
        &:first-child {
          width: 15%;
          min-width: 120px;
        }
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 35%;

        }

        &:nth-child(4) {
          width: 15%;
          min-width: 120px;
        }
        &:nth-child(5) {
          width: 10%;
          min-width: 80px;
        }
      }
    }
  }

  .one-time-purchases {
    tr {
      th, td {
        input {
          width : 100%;
        }
        &:first-child {
          width: 15%;
          min-width : 120px;
        }
        &:nth-child(2) {
          width: 55%;
        }
        &:nth-child(3) {
          width: 25%;

        }
        &:last-child {
          width: 10%;
          min-width : 80px;
        }
      }
    }
  }

  .add {
    width: 100%;
    text-align : center;
    background: $double-green;
    color: $double-black;
    margin-bottom: 20px;
    padding: 5px;
  }

  footer {
    margin-top: 20px;
  }
}

.static {
  .time-based-items {
    tr {
      th, td {
        textarea {
          width: 100%;
          min-height: 100px;
        }
        &:first-child {
          width: 15%;
          min-width: 120px;
        }
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 50%;

        }

        &:nth-child(4) {
          width: 10%;
          min-width: 120px;
          text-align: right;
          display : table-cell;
        }
      }
    }
  }
  .one-time-purchases {
    tr {
      th, td {
        &:nth-child(1) {
          width: 15%;
        }
        &:nth-child(2) {
          width: 70%;
        }
        &:nth-child(3) {
          width: 15%;
          display : table-cell;
          text-align: right;
        }
      }
    }
  }

}