@import '../variables';

.assistant-dashboard-invoices {
  height: calc(100vh - 53px);
  display: flex;
  > * {
    height: 100%;
  }

  .invoices-left-sidebar {
    flex : 0 0 23.75%;
    display: flex;
    flex-direction: column;
    background: $double-grey;
    overflow-y: scroll;
    .customer-name {
      padding : 8px 15px;
      font-size: 1.441em;
      background: $double-grey2;
    }
    .invoices {
      flex : 1;
      overflow-y: scroll;
      .invoice {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px;
        border-bottom: 1px solid $double-grey2;
        cursor: pointer;
        &.selected {
          border-left: 3px solid $double-red;
          background: $double-white;
        }
        .status {
          font-style: italic;
          font-size: 0.88em;
        }
      }
    }

    .add-invoice {
      background: $double-dark-blue;
      color: $double-white;
      text-align: center;
      padding:10px 0px;
    }
  }

  .invoice-content {
    display : flex;
    flex-direction: column;
    width: 100%;
    .header {
      margin : 0 auto;
      display : flex;
      align-content: center;
      justify-content: space-between;
      padding: 15px 0;
      width : 80%;
      span {
        font-size: 1.44em;
      }
      .charge {
        border : 0;
        background : $double-dark-blue;
        padding : 5px 10px;
        color: $double-white;
      }
    }
    .content {
      flex: 1;
      width : 80%;
      margin : 0 auto;
      overflow-y : scroll;
      border: 1px solid $double-grey3;
    }
  }
}

.invoice-printout {
  margin : 15px;
  .key {
    text-align : right;
  }
  header {
    background: $double-grey2;
    color: $double-dark-blue;
    font-size: 1.889em;
    text-align: center;
    padding: 30px 0px;
    margin : 15px 0px;
  }

  .summaries {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    .calculations {
      .value {
        text-align : right;
        margin-left: 2em;
      }
      .minute {
        margin-bottom : 10px;
      }
    }
    margin-bottom: 15px;
  }
  
  table {
    margin-bottom: 0px;
  }

  .time-based-items, .one-time-purchases {
    tr {
      th {
        background: $double-grey2;
        border-bottom: 1px solid black;
      }
    }
    tr {
      th, td {
        padding: 5px 10px;
      }
    }
  }

  .time-based-items {
    tr {
      th, td {
        &:first-child {
          width: 10%;
          min-width: 100px;
        }
        &:nth-child(2) {
          width: 35%;
        }
        &:nth-child(3) {
          width: 35%;
        }

        &:nth-child(4) {
          width: 10%;
          min-width: 80px;
        }
        &:nth-child(5) {
          width: 10%;
          min-width: 80px;
          display : flex;
          justify-content: space-around;
        }
      }
    }
  }

  .one-time-purchases {
    tr {
      th, td {
        &:first-child {
          width: 85%;
        }
        &:last-child {
          width: 15%;
          min-width : 150px;
        }
      }
    }
  }

  .add {
    width: 100%;
    text-align : center;
    background: $double-green;
    color: $double-black;
    margin-bottom: 20px;
    padding: 5px;
  }
}
