@import "../variables";

.assistant-dashboard-task {
  height: calc(100vh - 55px);
  display: flex;

  >* {
    height: 100%;
  }

  .tasks {
    flex : 0 0 23.75%;
    overflow-y: scroll;
    background: $double-grey;
    .task {
      padding: 15px;
      cursor: pointer;
      .last-modified {
        font-style: italic;
        font-size: 0.88em;
      }
      &.selected {
        background: $double-white;
        border-left: 3px solid $double-red;
      }
    }
  }

  .task-detail {
    flex : 0 0 52.5%;
    overflow-y: scroll;
    padding: 20px;
    color: $double-grey3;
    transition: background-color 0.7s 0.2s, color 0.7s 0.2s;

    &.working {
      background-color: #FFEEEE;
      transition: background-color 0.7s 0.2s, color 0.7s 0.2s;
      color : $double-black;
      .function {
        border : 1px solid $double-black;
      }
    }

    >* {
      border-bottom: 1px solid $double-grey2;
      margin-bottom: 20px;
      &:last-child {
        border-bottom : none;
      }
    }

    .title-metrics {
      padding-bottom: 1em;
      .title-bar h4 {
        width:100%;
        color: $double-black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .function {
          display:inline-block;
          color: $double-grey3;
          padding: 8px;
          text-align: center;
          border:1px solid $double-grey3;
          cursor: pointer;
          &.completed {
            color: $double-green;
            border:1px solid $double-green;
          }
        }
        .total-time-used {
          cursor:pointer;
        }
      }
      .metrics {
        div {
          display : inline-block;
          padding-right : 1em;
        }
      }
    }

    .other-info {
      padding-bottom: 1em;
      display : flex;
      >* {
        padding-right: 1em;
        &:last-child {
          padding-right: 0em;
        }
      }
    }

    .tagged-messages {
      h4 {
        color: $double-black;
      }
      .task-tag {
        display: none;
      }
    }

    .updates {
      border: 1px solid $double-light-blue2;
      background: $double-light-blue;
      border-radius: 4px;
      nav ul {
        padding: 1em 1em 0em 1em;
        list-style: none;
        li.active {
          color: $double-black;
        }
      }
      .status-tab {
        padding: 0em 1em;
        input {
          width: 100%;
          border : none;
          padding: 1em;
        }
        .statuses {
          padding:1em 0em;
          .status {
            padding-top:0.8em;
            &:first-child {
              padding-top:0;
            }
            display:flex;
            .date-author {
              flex : 0 0 15%;
              .author {
                font-style: italic;
                font-size: 0.88em;
              }
            }
          }
        }
        .statuses-more {
          text-align: center;
        }
      }
    }
    .supporting-doc {
      border-top : 1px solid $double-grey2;
      >* {
        margin-bottom: 2em;
        h4 {
          margin-bottom: 0.2em;
        }
      }
      .description {
        h4 {
          color: $double-black;
          i.edit {
            padding-left:1em;
            cursor: pointer;
          }
        }
        form.edit {
          display: flex;
          justify-content: space-between;
          align-content: center;
          width: 100%;
          textarea {
            height: 10em;
            flex: 1;
            border: 1px solid $double-grey2;
          }
          button.submit {
            text-decoration: underline;
            border: 1px solid $double-grey2;
            background: none;
          }
        }
      }
      .links, .checklist {
        h4 {
          color: $double-black;
          i.add {
            padding-left:1em;
            cursor: pointer;
          }
        }
        .sub {
          opacity: 1;
          height: 39px;
          transition: opacity 0.3s cubic-bezier(1, 0, 1, 0), height 0.2s linear;
          &.not-shown {
            opacity: 0;
            height: 0px;
            transition: opacity 0.3s cubic-bezier(0, 1, 0, 1), height 0.2s linear 0.1s;
          }
          form {
            width: 100%;
            display: flex;
            align-content: center;
            >* {
              margin:0 8px;
            }
            >label {
              line-height:39px;
            }
            >input {
              padding:5px;
            }
            .link-url, .text {
              flex: 1;
            }
            button.submit {
              text-decoration: underline;
              border: 1px solid $double-grey2;
              background: none;
            }
          }
        }

        .steps {
          padding: 1em;
          .step {
            padding-bottom: 0.5em;
            .check {
              padding-right : 1em;
            }
            .delete {
              padding-left: 1em;
            }
          }
        }

        .references{
          margin-top:0.7em;
          .reference {
            display: flex;
            flex-direction: row;
            align-content: center;
            .main {
              flex : 1;
              .title {
                color: $double-black;
                font-weight: 700;
              }
              margin-bottom: 0.7em;
            }
            .delete {
              display : flex;
              cursor : pointer;
              .fa {
                align-self: center;
              }
            }
          }
        }

      }
    }
  }

  .conversation {
    flex: 0 0 23.75%;
    overflow-y: scroll;
    background: $double-grey;
  }
}

.warning {
  margin: 0 15px;
}

.billable-creator {
  display: flex;
  justify-content: space-between;
  .statuses {
    margin-left: 15px;
    flex : 0 0 35%;
    background-color: $double-grey;
    svg {
      padding-left:40px;
      .total-duration {
        font-weight: 700;
        font-style: italic;
      }
      g {
        rect {
          z-index : -100;
        }
        &:nth-child(3n) rect {
          fill : $double-dark-blue;
        }
        &:nth-child(3n+1) rect {
          fill : $double-dark-blue2;
        }
        &:nth-child(3n+2) rect {
          fill : $double-dark-blue3;
        }

        text {
          font-family: Arial;
          fill: $double-black;
          cursor : pointer;
          &.user-name {
            font-style: italic;
          }
        }
        line {
          z-index : 100;
          stroke : $double-black;
          stroke-width: 2px;
        }
      }
    }

  }
  .billables {
    padding-top: 19px;
    margin-right: 15px;
    table {
      th {
        text-decoration: underline;
        text-align:center;
        padding-bottom: 5px;
      }
      th,td {
        &:first-child {
          width : 70%;
          text-align:left;
        }
        &:nth-child(2) {
          width : 15%;
          input {
            width : 100%;
          }
        }
        &:nth-child(3) {
          width : 15%;
        }
      }
    }
    flex : 0 0 60%;
    .add-step {
      border: 0;
      background: none;
      color: $double-grey3;
      text-align : left;
      font-style:italic;
      display:block;
    }
    .bank-time {
      padding: 10px;
      border: none;
      background: $double-dark-blue;
      color: $double-white;
      display:block;
      margin: 25px auto;
    }
  }
}

.status-tooltip {
  background : $double-dark-blue;
  color : $double-white;
  position: absolute;
  z-index: 10000;
  max-width: 200px;
  padding:0px 5px;
}
