@import "../variables";

.assistant-dashboard-task {
  height: calc(100vh - 70px);
  display: flex;

  >* {
    border-right: 1px solid $pay-grey;
    height: 100%;
    &:last-child {
      border-right: none;
    }
  }

  .tasks {
    flex : 2;
    .task {
      padding: 15px;
      cursor: pointer;
      &.selected {
        background-color: lighten($pay-light-blue, 30%);
        border-radius: 5px;
      }
    }
  }

  .details {
    flex : 8;
  }

  .conversation {
    flex: 4;
  }
}
