@import "../variables";

#assistant-dashboard-tasks-summary {
  .fa-bell {
    color: $double-red;
    visibility: hidden;
    display: inline;
    &.alerting {
      visibility: visible;
    }
  }
}

