@import "{double-core}/client/variables";

.assistant-dashboard-task {
  height: calc(100vh - 55px);
  display: flex;

  >* {
    height: 100%;
  }

  .left-sidebar {
    flex: 0 0 23.75%;
    overflow-y: scroll;
    background: $double-grey;
    .filters {
      width : 100%;
      display : flex;
      >* {
        padding: 1em;
        flex: 0 0 50%;
        width:50%;
        text-align: center;
        color : $double-white-half-transparent;
        background: $double-dark-blue;
        &.active {
          color: $double-white;
          font-weight: 700;
        }
      }
    }
    .tasks {
      .task-list-item {
        text-decoration: none;
        color: $double-black;
        .task {
          padding: 15px;
          cursor: pointer;
          .last-modified, .completed {
            font-style: italic;
            font-size: 0.88em;
          }
          &.selected {
            background: $double-white;
            border-left: 0.5em solid $double-red;
          }
        }
      }
    }
  }

  .task-detail {
    flex : 0 0 52.5%;
    overflow-y: scroll;
    padding: 1em;
    color: $double-grey3;
    transition: background-color 0.7s 0.2s, color 0.7s 0.2s;

    .function {
      border : 1px solid $double-black;
      min-height: 36px;
      min-width: 36px;
      border-radius: 3px;
    }

    &.working {
      background-color: #FFEEEE;
      transition: background-color 0.7s 0.2s, color 0.7s 0.2s;
      color : $double-black;
    }

    >* {
      margin-bottom: 20px;
    }

    .title-metrics {
      padding-bottom: 1em;
      .title-bar h4 {
        width:100%;
        color: $double-black;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #title-edit {
          width:100%;
          input {
            width:80%;
          }
          .save {
            border : none;
            background : transparent;
          }
        }

        .title {
          padding: 0px 1em;
          flex : 1;
          text-align: center;
          .edit {
            padding-left : 1em;
            font-size: 0.8em;
          }
        }
        .total-time-used {
          padding-left: 1em;
        }
        .functions {
          .function {
            display: inline-block;
            color: $double-grey3;
            padding: 8px;
            text-align: center;
            border: 1px solid $double-grey3;
            cursor: pointer;
            &.completed {
              color: $double-green;
              border: 1px solid $double-green;
            }
          }
        }
      }
      .metrics {
        div {
          display : inline-block;
          padding-right : 1em;
        }
      }
    }

    .other-info {
      padding-bottom: 1em;
      display : flex;
      >* {
        padding-right: 1em;
        &:last-child {
          padding-right: 0em;
        }
      }
    }



    .tagged-messages {
      h4 {
        color: $double-black;
      }
      .task-tag {
        display: none;
      }
    }

    .invoice-related {
      border-top : 1px solid $double-grey2;
      background: $double-grey;
      padding: 1em;
      h4 {
        color: $double-black;
        i.add {
          padding-left:1em;
          cursor: pointer;
        }
      }

      .steps {
        padding: 1em;
        .step {
          padding-bottom: 0.5em;
          .check {
            padding-right : 1em;
            cursor: pointer;
          }
          .edit {
            cursor: pointer;
            padding : 0 0.5em;
          }
          .duration {
            cursor: pointer;
            text-decoration: underline;
          }
          .delete {
            cursor: pointer;
            padding-left: 1em;
          }

          .edit-action-title {
            display: inline-flex;
            width: 50%;
            input {
              flex : 1;
            }
            button {
              border: none;
              background: transparent;
            }
          }

        }
      }
      .one-time-purchase-area {
        margin-bottom: 1em;
        form {
          display: flex;

          fieldset {
            &:first-child {
              flex : 0 0 calc(15% - 16px);
            }
            &:first-child(2) {
              flex : 0 0 calc(25% - 16px);
            }
            &:nth-child(3) {
              flex : 0 0 calc(35% - 16px);
            }
            &:nth-child(4) {
              flex : 0 0 calc(15% - 16px);
            }
            &:last-child {
              flex : 0 0 calc(10% - 16px);
            }
          }
          button {
            border : none;
          }
          input {
            border: none;
            padding:0 5px;
            border: 1px solid $double-grey2;
            width: 100%;
          }
        }
        .one-time-purchases {
          margin-top : 1.1em;
          .one-time-purchase {
            margin-bottom: 0.7em;
            display: flex;
            flex-direction: row;
            justify-content: center;

            .status {
              cursor: pointer;
              border-radius: 3px;
              padding: 0px 0.5em;
              &.pending {
                background: $double-light-blue;
              }
              &.charging {
                background: $double-green;
              }
              &.charged {
                color: $double-white;
                background: $double-green2;
              }
              &.voided, &.failed {
                color: $double-white;
                background: $double-red;
              }
            }

            .main {
              display: flex;
              flex-direction: row;
              flex: 1;
              .title, .date, .type {
                padding: 0px 1.1em;
                color: $double-black;
                font-weight: 700;
              }
              .type {
                min-width:100px;
              }
            }
            .charge {
              padding: 0px 0.5em;
              margin-right: 1em;
            }
            .delete {
              display: flex;
              cursor: pointer;
              .fa {
                align-self: center;
              }
            }
          }
        }
      }
      .adjustments {
        #add-adjustment {
          display : flex;
          label {
            margin:0 1em;
            line-height: 28px;
          }
          input[name="duration"] {
            width:62px
          }
          input[name="reason"] {
            flex: 1;
          }
          button {
            border: none;
            background: transparent;
          }

        }
        .adjustments-list {
          margin-top: 1.1em;
          .adjustment {
            margin-bottom: 0.7em;
            .billed {
              background: $double-green;
              color: $double-black;
            }
            .unbilled {
              background: $double-red2;
              color: $double-white;
            }
            display: flex;
            flex-direction: row;
            flex: 1;
            .main {
              display: flex;
              flex-direction: row;
              flex: 1;
              .reason, .date {
                padding: 0px 1.1em;
                color: $double-black;
                font-weight: 700;
              }
            }
          }
        }
      }
    }

    .supporting-doc {
      padding: 1em;
      >* {
        margin-bottom: 2em;
        h4 {
          margin-bottom: 0.2em;
        }
      }
      .description {
        h4 {
          color: $double-black;
          i.edit {
            padding-left:1em;
            cursor: pointer;
          }
        }
        form.edit {
          display: flex;
          justify-content: space-between;
          align-content: center;
          width: 100%;
          textarea {
            height: 10em;
            flex: 1;
            border: 1px solid $double-grey2;
          }
          button.submit {
            text-decoration: underline;
            border: 1px solid $double-grey2;
            background: none;
          }
        }
      }
      .links {
        h4 {
          color: $double-black;
          i.add {
            padding-left:1em;
            cursor: pointer;
          }
        }
        .references{
          margin-top:0.7em;
          .reference {
            display: flex;
            flex-direction: row;
            align-content: center;
            .main {
              flex : 1;
              .title {
                color: $double-black;
                font-weight: 700;
              }
              margin-bottom: 0.7em;
            }
            .delete {
              display : flex;
              cursor : pointer;
              .fa {
                align-self: center;
              }
            }
          }
        }
      }
      .tagged-messages {
        i.add {
          padding-left:1em;
          cursor: pointer;
        }
      }
    }
  }

  .conversation {
    flex: 0 0 23.75%;
    overflow-y: scroll;
    background: $double-grey;
  }

  .right-pane {
    padding:1em;
    .tags {
      margin-bottom: 2em;
      .header .fa {
        margin-left: 1em;
        cursor : pointer;
      }
      form {
        margin-bottom: 1em;
        display: inline-flex;
        width: 100%;
        label {
          padding: 5px 7px 5px 0px;
          margin-bottom: 10px;
        }
        .twitter-typeahead {
          flex: 1;
          vertical-align: top;
          height: 30px;
          input {
            width: 100%;
          }
          .tt-menu {
            border: 1px solid $double-grey3;
            width: calc(100% - 2px);
            background: $double-white;
            .tt-selectable {
              padding: 0.5em 0.8em;
              &:focus, &:hover, &.tt-cursor {
                background: $double-light-blue2;
              }
            }
          }
        }
        button {
          height: 30px;
          border : none;
          background: transparent;
        }
      }
      .list {
        .tag {
          margin-bottom: 0.5em;
          .fa {
            margin-right: 1em;
          }
        }
      }
    }
    .updates {
      border: 1px solid $double-light-blue2;
      background: $double-light-blue;
      border-radius: 4px;
      nav ul {
        padding: 1em 1em 0em 1em;
        list-style: none;
        li.active {
          color: $double-black;
        }
      }
      .status-tab {
        padding: 0em 1em;
        input {
          width: 100%;
          border : none;
          padding: 1em;
        }
        .statuses {
          padding:1em 0em;
          .status {
            padding-top:0.8em;
            &:first-child {
              padding-top:0;
            }
            display:flex;
            .date-author {
              flex : 0 0 15%;
              .author {
                font-style: italic;
                font-size: 0.88em;
              }
            }
          }
        }
        .statuses-more {
          text-align: center;
        }
      }
    }
  }
}

.warning {
  margin: 0 15px;
}

.sub {
  opacity: 1;
  min-height: 39px;
  transition: opacity 0.3s cubic-bezier(1, 0, 1, 0), height 0.2s linear;
  &.not-shown {
    opacity: 0;
    min-height: 0px;
    height: 0px;
    padding : 0px;
    transition: opacity 0.3s cubic-bezier(0, 1, 0, 1), height 0.2s linear 0.1s;
    form {
      display:none;
    }
  }
  form {
    width: 100%;
    display: flex;
    align-content: center;
    >* {
      margin:0 8px;
    }
    >label {
      line-height:39px;
    }
    >input {
      padding:5px;
    }
    .link-url, .text {
      flex: 1;
    }
    button.submit {
      text-decoration: underline;
      border: 1px solid $double-grey2;
      background: none;
    }
  }
}

.billable-creator {
  display: flex;
  justify-content: space-between;
  .statuses {
    margin-left: 15px;
    flex : 0 0 35%;
    background-color: $double-grey;
    svg {
      padding-left:40px;
      .total-duration {
        font-weight: 700;
        font-style: italic;
      }
      g {
        rect {
          z-index : -100;
        }
        &:nth-child(3n) rect {
          fill : $double-dark-blue;
        }
        &:nth-child(3n+1) rect {
          fill : $double-dark-blue2;
        }
        &:nth-child(3n+2) rect {
          fill : $double-dark-blue3;
        }

        text {
          font-family: Arial;
          fill: $double-black;
          cursor: pointer;
          &.message {
            text-decoration: underline;
          }
          &.user-name {
            font-style: italic;
          }
        }
        line {
          z-index : 100;
          stroke : $double-black;
          stroke-width: 2px;
        }
      }
    }

  }
  .billables {
    margin-right: 15px;
    table {
      tr:nth-child(2n) {
        background: darken($double-grey, 5%);
      }
      tr:nth-child(2n + 1) {
        background: $double-grey;
      }
      th {
        text-decoration: underline;
        text-align:center;
        padding-bottom: 5px;
      }
      th,td {
        padding: 0.8em;
        &:first-child {
          width : 56%;
          text-align:left;
        }
        &:nth-child(2) {
          width : 20%;
          input {
            width : 50%;
          }
        }
        &:nth-child(3) {
          width : 19%;
        }
      }
    }
    #bank-time-actual {
      display:none;
    }
    flex : 0 0 60%;
    .add-step {
      border: 0;
      background: none;
      color: $double-grey3;
      text-align : left;
      font-style:italic;
      display:block;
      cursor:pointer;
      padding: 0.8rem 0px 0px 0.8rem;
    }

    .add-step-form {
      padding: 0.8em 0;
      >form>* {
        margin: 0;
      }
      button {
        border : 0px;
      }
    }
    .bank-time {
      padding: 10px;
      border: none;
      background: $double-dark-blue;
      color: $double-white;
      display:block;
      margin: 25px auto;
    }
  }
}

.status-tooltip {
  background : $double-dark-blue;
  color : $double-white;
  position: absolute;
  z-index: 10000;
  max-width: 200px;
  padding:0px 5px;
}

.timesheet-edit {
  table tr {
    th, td {
      &:last-child {
        text-align : center;
        width : 20%;
      }
      .fa {
        padding-right: 1em;
      }
    }
  }
}