@import "../variables";
.unrouted-channels-container {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;

  li.select-channel {
    margin-right: 10px;
    &.active {
      span {
        background: $double-dark-blue;
        color: $double-white;
      }
    }
    span {
      cursor: pointer;
      padding:5px;
      display:inline-block;
      background: $double-grey;
      color: $double-grey3;
    }
  }

  .row {
    height: 100%;

    .channel-tabs {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: scroll;
    }
    .selected-channel-content {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: scroll;
    }
  }
}
