@import "../variables";
.unrouted-channels-container {
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;

  li.select-channel {
    margin-right: 10px;
    &.active {
      span {
        background: $double-dark-blue;
        color: $double-white;
      }
    }
    span {
      cursor: pointer;
      padding:5px;
      display:inline-block;
      background: $double-grey;
      color: $double-grey3;
    }
  }

  .selected-channel-messages {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
  }
}
