<template name="customerHeader">
  <section class="row customer-header">
    <div class="col-md-12 col-sm-12 text-center">
      <div class="settings pull-left"></div>
      <span class="center">{{_ "task_header" count=numberOfTasks}}</span>
      <div class="add-todo action pull-right"></div>
      <div class="call-me action pull-right {{isCalling}}"></div>
    </div>
  </section>
  <section class="alert-container row {{isCallingShowInvisible}}">
    <div class="text-center call-alert col-xs-12 col-sm-12 col-md-12">
      <p class="animated flash infinite">Your double will call you back shortly...</p>
    </div>
  </section>
</template>
