<template name="task">
    <div class="row task-list-item">
      <div class="row">
        <label class="info-container col-md-12 col-xs-12">
          <div class="col-md-1 col-xs-1 checkbox-container">
            <input type="checkbox" class="pull-right">
          </div>
          <div class="name col-md-11 col-xs-11">
            {{ name }}
          </div>
        </label>
      </div>
      <div class="attr-container row">
        {{> Template.dynamic template=showRecurringCriteriaComponent }}
        {{> Template.dynamic template=showDeadlineComponent }}
        {{> Template.dynamic template=showStatusComponent }}
        {{> Template.dynamic template=showReferencesComponent }}
        {{> Template.dynamic template=showCompletedComponent }}
      </div>
    </div>

</template>

<template name="taskRecurringCriteria">
  <div class="row">
    <div class="attr col-md-11 col-xs-11 col-md-offset-1 col-xs-offset-1">
      <i class="glyphicon glyphicon-refresh"></i>&nbsp;{{ getRecurringCriteriaString }}
    </div>
  </div>
</template>

<template name="taskDeadline">
  <div class="row">
    <div class="attr col-md-11 col-xs-11 col-md-offset-1 col-xs-offset-1">
      <i class="glyphicon glyphicon-calendar"></i>&nbsp;{{ formatDate deadline }}
    </div>
  </div>
</template>

<template name="taskStatus">
  <div class="row">
    <div class="attr col-md-11 col-xs-11 col-md-offset-1 col-xs-offset-1">
      <i class="glyphicon glyphicon-user"></i>&nbsp;{{ getLatestStatus }}
    </div>
  </div>
</template>

<template name="taskReferences">
  {{#each references }}
    <div class="row">
      <div class="attr col-md-11 col-xs-11 col-md-offset-1 col-xs-offset-1">
        <i class="glyphicon glyphicon-file"></i>&nbsp;<a href="{{url}}">{{ name }}</a>
      </div>
    </div>
  {{/each}}
</template>

<template name="taskCompleted">
  <div class="row">
    <div class="attr col-md-11 col-xs-11 col-md-offset-1 col-xs-offset-1">
      <i class="glyphicon glyphicon-time"></i>&nbsp;{{ formatDuration getTotalDuration }}
    </div>
  </div>
</template>
