<template name="task">
  <section class="row task-list-item">
    <div class="row">
      <label class="info-container col-md-12 col-xs-12">
        <div class="col-md-1 col-sm-1 col-xs-2 checkbox-container">
          <i class="pull-right checkbox glyphicon {{ checkedIfTaskCompleted }}"></i>
        </div>
        <div class="name col-md-11 col-sm-11 col-xs-10">
          {{ title }}
        </div>
      </label>
    </div>
    <div class="attr-container row">
      {{#if getLatestStatus}}
        {{> customerTaskSubItem statusToMessage getLatestStatus }}
      {{/if}}

      {{#each references }}
        {{> customerTaskSubItem referenceToMessage this }}
      {{/each}}
      {{> customerTaskSubItem totalDurationToMessage this.getTotalDuration }}
    </div>
  </section>
</template>

<template name="customerTaskSubItem">
  <div class="row">
    <div class="attr col-md-11 col-sm-11 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-2">
      <i class="glyphicon glyphicon-{{ type }} type"></i>
      {{> Template.dynamic template=taskSubItemMessage }}
    </div>
  </div>
</template>
